In [3]:
print("Hi")

Hi

In [4]:
print("Hello")

Hello

In [5]:
print("Hello, World!")

Hello, World!

In [8]:
# datatypes  

a = 1
a = 2

print(a)

2

In [7]:
print('a')

a

In [10]:
a = 1     #int
b = 'cat' #string
c = 1.234 #float
d = True  #boolean

print(a,b,c,d)

1 cat 1.234 True

In [12]:
a = 3
# a = 1  #python 

# int a = 1 #java 
b = 4
print(a,b)

3 4

sql comments --> 

    Single line --> //

    Multi line  --> /* */

Python comments -->

    Single line  --> #

    Multi line   --> """ """

description of usage 

to avoid execution of unwanted code

In [13]:
""" this 
is 
multi line 
"""

' this \nis \nmulti line \n'

In [14]:
a = 1

type(a)

int

In [17]:
b = '2'
type(b)

str

In [21]:
c = 'cat'
type(c)

str

In [22]:
a + int(b) + int(c)

ValueError: invalid literal for int() with base 10: 'cat'

In [23]:
str(a) + b + c

'12cat'

numerical datatypes , + --> maths 

str, char               --> concat

unsupported datatypes   --? error

In [26]:
i = 'cat'
j  = "cats"

print(i,j)

cat cats

In [28]:
i = 'cat'
j  = "cat's"
k = 'cat\'s'

print(i,j,k)

cat cat's cat's

In [29]:
a =  1
A =  2

7 = 'a'

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2042809717.py, line 4)

In [30]:
customerTableData = "data"

In [32]:
x, y, z = "Orange", "Banana", "Cherry"
print(x,y,z)

Orange Banana Cherry

In [33]:
x = y = z = "Orange"
print(x,y,z)

Orange Orange Orange

In [40]:
#strings 

a =  '001US'
b = 'bat'
c =  """ this
    is 
        paragraph"""

0 0 1 U S 

0 1 2 3 4

-5 -4 -3 -2 -1

In [39]:
print(a[3] +  a[4])

US

In [43]:
print(b.capitalize())
print(b.count('z'))

Bat
0

In [46]:
#slicing 

productCode = a[:3]
countryCode = a[3:]
print(productCode,countryCode)

001 US

In [47]:
print(a[-1])

S

In [ ]:
# variables
# type
# print
# datatypes
# casting 
# string as array 
# slicing

In [48]:
print(len(a))

5